<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="../../Styles/quattrocento-latin.woff2" as="font" type="font/woff2">
<link rel="stylesheet" type="text/css" href="../../Styles/fonts.css" />
<link rel="stylesheet" type="text/css" href="../../Styles/content.css" />
<body>
    <div class="navbar">
        <div>
            <a class="nav" href="/thoughts/index.html">home</a>
            <a id="previous" class="nav" href="{{previous}}">prev</a>
            <a id="next" class="nav" href="{{next}}">next</a>
        </div>  
        <div>
            <a id="print" class="nav" href="javascript:window.print()">print</a>
            <a id="faq" class="nav" href="../Other/FAQ.html">faq</a>
        </div>
    </div>
    <div id="container-parent">
        <div id="container">          
            <div id="content">
                {{content}}
            </div>
        </div>
    </div>
    <a id="license" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
</body>
<script>    
    console.log("Like looking under the hood? https://github.com/culturing/thoughts");

    document.onkeydown = function(e) {
        if (e.keyCode == 37) {
            document.getElementById("previous").click();
        } else if (e.keyCode == 39) {
            document.getElementById("next").click();
        }
    }
</script>
</html>