<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="Styles/quattrocento-latin.woff2" as="font" type="font/woff2">
<link rel="stylesheet" type="text/css" href="Styles/fonts.css" />
<link rel="stylesheet" type="text/css" href="Styles/index.css" />
<script>    
    console.log("Like looking under the hood? https://github.com/culturing/thoughts");
</script>

<body>
    <div class="navbar">
        <div>
            <a class="nav" href="/thoughts/index.html">home</a>
        </div>
        <div>
            <!-- <a id="pdf" class="nav" href="Thoughts.pdf" target="_blank">pdf</a>
            <a id="faq" class="nav" href="Output/Other/FAQ.html">faq</a> -->
        </div>
    </div>
    <div id="container-parent">
        <div id="container">
            <div id="container-chronology">
                <h2>Chronology</h2>
                {{chronology}}
            </div>
            <div id="container-index">
                <h2>Index</h2>
                {{index}}
            </div>
        </div>
    </div>
</body>
</html>